.calendar {
    font-family: '微軟正黑體';
    display: inline-flex;

    .calendar_box {
        border: solid 1px #e3e3e3;
        &:first-child {
            margin-right: 10px;
        }
    }

    .year_month {
        text-align: center;
        border-bottom: solid 1px #e3e3e3;
        padding: 10px 0;
        .title {
            font-size: 20px;
            margin: 0 0 10px 0;
        }
        .week {
            display: flex;
            >span {
                flex: 1;
                font-size: 12px;
            }
            .holiday {
                color: #ff615d;
            }
        }
    }

    .month_box {
        display: grid;
        grid-template: repeat(6, 40px) / repeat(7, 40px);
        background-color: #f1f1f1;
    }
    .date {
        &:not(:empty) {
            background-color: #fff;
        }
    }
    .disabled {
        color: #ddd;
        cursor: not-allowed;
    }
    .isBetween {
        &.date {
            background-color: rgba(255, 139, 136, .2);
        }
        &.startDay {
            background-image: linear-gradient(to right, #fff 50%, transparent 50%);
        }
        &.endDay {
            background-image: linear-gradient(to left, #fff 50%, transparent 50%);
        }
    }
    .date_box {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
        .date_num,
        .txt {
            line-height: 1;
        }
        .txt {
            font-size: 12px;
        }
        &:hover {
            background-color: #f1f1f1;
        }
    }
    .active {
        .date_box {
            background-color: #ff615d;
            color: #fff;
        }
        .txt {
            font-weight: bold;
        }
    }
}